{% extends "truck_parts_app/basic.html" %}
{% load crispy_forms_tags %}


{% block title %} Products list {% endblock %}

{% block header %} Products list page {% endblock %}

{% block content %}
    <div>
        <h4>Let us help you find something special for you.</h4>
        <a class="btn btn-secondary btn-sm mb-2 mr-3" href="{% url 'truck_parts_app:product-create-form' %}"
           role="button" style="float: right;">Add product</a>
    </div>

    <div class="container pt-3">
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Truck</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for product in products %}
                <tr>
                    <td><a href="{% url 'truck_parts_app:product-detail' product.id %}">{{ product.name }}</a></td>
                    <td><a>{{ product.description }}</a></td>
                    <td><a>{{ product.get_trucks }}</a></td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="{% url 'truck_parts_app:product-update-form' product.id %}"
                           role="button" style="float: right;">Update</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'truck_parts_app:product-delete-form' product.id %}"
                           role="button" style="float: right;">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block left_side_bar %}
    {% crispy form %}
{% endblock %}
