{% extends "truck_parts_app/basic.html" %}

{% block title %} Products list {% endblock %}

{% block header %} Products list page {% endblock %}

{% block content %}
    <div>
        <h4>Let us help you find something special for you.</h4>
    </div>

    <div class="container">
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Truck</th>
            </tr>
            </thead>
            <tbody>

            {% for product in products %}
                <tr>
                    <td><a href="{% url 'truck_parts_app:detail' product.id %}">{{ product.name }}</a></td>
                    <td><a>{{ product.description }}</a></td>
                    <td><a>{{ product.get_trucks }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block left_side_bar %}

    {#    {% for truck in object_list.truck %}#}
    {#        <div class="form-group form-check">#}
    {#                <input type="checkbox" class="form-check-input" id={{ truck.pk }}>#}
    {#            <label class="form-check-label" for={{ truck.pk }}>{{ truck.name }}</label>#}
    {#        </div>#}
    {#    {% endfor %}#}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Filter">
    </form>


{% endblock %}
